/*.hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }*/

  .approved {
    pointer-events: none;
  }

  .approvedButton {
    pointer-events: none;
  }