.logo {
    height: 5rem;
    width: 10rem;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .login-div {
      width: 30%;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10%;
    }