.THIS .head {
    float: left;
    width: 100%;
    text-align: center;
}

.THIS .content {
    float: left;
    width: 100%;
    padding-left: calc((100% - 730px)/ 2);
    padding-right: calc((100% - 730px)/ 2);
}

.THIS .content .text {
    float: left;
    width: 100%;
    font-family: FedraSansStd-book,sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
    margin-top: 35px;
}