<template>
    <!-- <img class="logo" src={cloudwerxLogoURL} alt="Cloudwerx Logo"> -->
    <!-- lightning-button  class = "slds-p-around_medium logout-button" variant="Brand" label="Log Out" onclick={logoutClickHandler}></lightning-button>
    <lightning-card title="Onboarding Employees" icon-name="custom:custom14"> -->
        <ul class="slds-m-around_medium">
            <template if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
            </template>

            <div class="slds-grid slds-wrap slds-grid_align-spread slds-p-horizontal_small slds-m-bottom_medium">
                <lightning-button  class = "back-button slds-p-around_medium back-button" variant="Brand" label="Back" onclick={backClickHandler}></lightning-button>
               <!--  <lightning-button  class = "slds-p-around_medium logout-button" variant="Brand" label="Log Out" onclick={logoutClickHandler}></lightning-button> -->
            </div>
            <!-- ***********************************table********************************** -->
            <h2><lightning-icon icon-name="custom:custom63" size="medium" class="slds-m-bottom_small"></lightning-icon> Onboarding Employees</h2>
            <template if:true={showTable}>
                <div class="slds-scrollable">
                <table class="slds-table slds-table_bordered slds-border_left slds-border_right">
                    <thead>
                        <tr>
                            <th class="slds-col" scope="col">
                                <p class="field-title" title="SkillSet">Employee Name</p>
                            </th>
                            <th class="slds-col" scope="col">
                                <p class="field-title" title="Confidence">Job Role</p>
                            </th>
                            <th class="slds-col" scope="col">
                                <p class="field-title" title="Skill">Location</p>
                            </th>
                            <th class="slds-col" scope="col">
                                <p class="field-title" title="Confidence">Joining Date</p>
                            </th>
                            
        
                        </tr>
                    </thead>
    
                    <tbody class="font-size-x_small">
                        <template for:each={data} for:item="contact">
                            <tr key={data.Id} class="slds-line-height_reset first-class">
                                <td class="slds-col">
                                    <a  data-id = {contact.Id} onclick={onClickNameHandler}  >{contact.Name}</a>
                                </td>
                                <td class="slds-col">
                                    {contact.Employee_Role__c}
                                </td>
                                <td class="slds-col">
                                    {contact.Work_Location__c}
                                </td>
                                <td class="slds-col">
                                    {contact.Date_Of_Joining__c}
                                </td>
                                
                                
                                <!-- <td class="slds-col slds-size_2-of-16">
                                    <lightning-icon id={data.Id} size=x-small icon-name="action:new" alternative-text="New" onclick={handleClick}></lightning-icon>
                                </td> -->
                                
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
            </template>
            <template if:false={showTable}>
                <h2 class="no-data-heading">No Onboarding Candidates To Show</h2>
            </template>
            
        </ul>
    <!-- </lightning-card> -->
</template>