<apex:page standardcontroller="APXT_CongaSign__Transaction__c" extensions="APXT_CongaSign.apxt_resendTransaction" showHeader="false" sidebar="false" title="{!$Label.apxt_congasign__apxt_resend_transaction_title}" >
    <html xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <apex:stylesheet value="{!URLFOR($Resource.APXT_CongaSign__apxt_mainCss, 'vf.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.APXT_CongaSign__apxt_mainCss, 'apxt_fonts.css')}"/>
            <apex:slds />
            <script src="{!URLFOR($Resource.apxt_jQuery)}"></script>
            <script src="{!URLFOR($Resource.apxt_svg4everybody)}"></script>
        </head>

        <body>
            <apex:outputPanel layout="none" rendered="{! isblank($CurrentPage.parameters.oAuthCompleted) }">
                
                <div id="resend-overlay">
                    <div class="slds-grid">
                        <div class="slds-col slds-size_4-of-12 slds-medium-show slds-p-top_xx-large">
                            <img src="{!$Resource.apxt_images + '/left-image.svg'}"/>
                        </div>
                        <div class="slds-col slds-medium-size_4-of-12 slds-size_1-of-1 slds-p-around_medium slds-p-top_large">
                            <div class="slds-grid slds-gutters_small slds-wrap slds-grid_vertical-align-center slds-grid_align-center slds-text-align_center">
                                <div class="slds-col slds-size_1-of-1 slds-p-bottom_medium slds-show_medium">
                                    <img src="{!$Resource.apxt_images + '/Sign.svg'}"/>
                                </div>
                                <div class="slds-col slds-medium-size_1-of-1">
                                    <div class="sign-branding-page_header">
                                        <img id="sign-logo-mobile" src="{!$Resource.apxt_images + '/Sign.svg'}" class="slds-hide_medium slds-p-right_small" />
                                        <b>CONGA SIGN</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_4-of-12 slds-medium-show">
                            <img src="{!$Resource.apxt_images + '/right-image.svg'}"/>
                        </div>
                    </div>
                    <div class="slds-grid slds-grid_align-center slds-grid_vertical-align-center slds-text-align_center slds-wrap slds-p-top_medium">
                        <div class="slds-col slds-size_10-of-12 slds-medium-size_8-of-12">
                            <p class="sign-branding-page_text">
                                <b>{!SUBSTITUTE($Label.apxt_resend_transaction, '{0}', HTMLENCODE(parentObj['Name']))}</b>
                            </p>
                            <p class="sign-branding-page_text slds-p-around_small">
                                <b>{!$Label.apxt_resend_transaction_verify}</b>
                            </p>
                        </div>
                        <div class="slds-col slds-size_10-of-12 slds-p-around_small">
                            <div class="slds-grid slds-wrap slds-grid_align-center">
                                <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12 slds-p-bottom_medium">
                                    <button class="slds-button slds-button_neutral cancel-button sign-branding-page_button">{!$Label.apxt_resend_cancel_button}</button>
                                </div>
                                <div class="slds-col slds-size_1-of-1 slds-medium-size_4-of-12">
                                    <button class="slds-button slds-button_brand resend-button sign-branding-page_button">{!$Label.apxt_resend_transaction_button}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                <div id="spinner-overlay" class="slds-spinner_container slds-hide">
                  <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">{!$Label.apxt_resend_transaction_loading}</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                  </div>
                </div>

                <div id="modal-overlay" class="slds-backdrop slds-backdrop--open slds-hide"/>

                <div class="slds-notify_container">
                    <div id="pageToast" class="slds-notify slds-notify_toast slds-hide" role="alert">
                        <span id="pageToast-assistive" class="slds-assistive-text">{!$Label.apxt_resend_transaction_notification}</span>
                        <span id="pageToast-icon-info" class="slds-icon_container slds-icon-utility-info slds-m-right_small slds-no-flex slds-align-top slds-hide">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                      xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg')}#info"/>
                            </svg>
                        </span>
                        <span id="pageToast-icon-success" class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top slds-hide">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                      xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg')}#success"/>
                            </svg>
                        </span>
                        <span id="pageToast-icon-warning" class="slds-icon_container slds-icon-utility-warning slds-m-right_small slds-no-flex slds-align-top slds-hide">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                      xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg')}#warning"/>
                            </svg>
                        </span>
                        <span id="pageToast-icon-error" class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top slds-hide">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                      xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg')}#error"/>
                            </svg>
                        </span>
                        <div class="slds-notify__content">
                            <h2 id="pageToast-label" class="slds-text-heading_small slds-hide"/>
                            <p id="pageToast-detail" class="slds-hide"/>
                            <div id="pageToast-objId" class="slds-hide"/>
                            <div id="pageToast-debug" class="slds-hide"/>
                        </div>
                        <button class="slds-button slds-button_icon slds-notify__close slds-button_icon-inverse" title="{!$Label.apxt_resend_transaction_close}">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                       xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/utility-sprite/svg/symbols.svg')}#close">
                                </use>
                            </svg>
                            <span class="slds-assistive-text">{!$Label.apxt_congasign__apxt_resend_transaction_close}</span>
                        </button>
                    </div>
                </div>

            </apex:outputPanel>

            <script type="text/javascript">
                svg4everybody();

                // Apex Remote Action call handler.
                var callRemoteAction = function(controllerName, methodName, params, callback, options) {
                    var args = params;
                    // Prepend namespace and apex controller name to method name
                    var ns = "{!JSENCODE(NAMESPACE)}";
                    if (ns && ns.length > 0) ns += ".";
                    methodName = ns + controllerName + "." + methodName;
                    // Method name is first argument
                    params.unshift(methodName);
                    // Callback comes after arguments
                    params.push(callback);
                    // If options are specified they are the last argument
                    if (options) params.push(options);
                    Visualforce.remoting.Manager.invokeAction.apply(Visualforce.remoting.Manager, params);
                };

                // Function to display toast notifications.
                function displayNotification(type, label, detail, id, debug){
                    var hideClass = 'slds-hide';
                    $('#pageToast-label').text(escapeHtml(label));
                    if (label)
                        $('#pageToast-label').removeClass(hideClass);
                    else
                        $('#pageToast-label').addClass(hideClass);
                    $('#pageToast-detail').text(escapeHtml(detail));
                    if (detail)
                        $('#pageToast-detail').removeClass(hideClass);
                    else
                        $('#pageToast-detail').addClass(hideClass);
                    $('#pageToast-objId').text(escapeHtml(id));
                    $('#pageToast-debug').text(escapeHtml(debug));
                    $('#pageToast').removeClass('slds-theme_success slds-theme_warning slds-theme_error slds-theme_info');
                    $('#pageToast .slds-icon_container').addClass(hideClass);

                    var toastClass = 'slds-theme_info';
                    var iconContainer = $('#pageToast-icon-info');
                    if (type==='success'){
                        toastClass = 'slds-theme_success';
                        iconContainer = $('#pageToast-icon-success');
                    }
                    else if (type==='warning'){
                        toastClass = 'slds-theme_warning';
                        iconContainer = $('#pageToast-icon-warning');
                    }
                    else if (type==='error'){
                        toastClass = 'slds-theme_error';
                        iconContainer = $('#pageToast-icon-error');
                    }

                    iconContainer.removeClass(hideClass);
                    $('#pageToast').addClass(toastClass).removeClass(hideClass).show();
                }

                // Onready JS behavior.
                $(document).ready(function() {
                    // Add return function all toast notifications.
                    $('.slds-notify__close').each( function(){
                        $(this).on('click', returnRedirect);
                    });
                   
                    $('.cancel-button').each( function(){
                        $(this).on('click', returnRedirect);
                    });
                   
                    $('.resend-button').each( function(){
                        $(this).on('click', returnRedirectAfterResend);
                    });
                });

                function returnRedirect(){
                    if ({!isLightningUI}){
                        console.log("Hey redirect cancel 1");
                        sforce.one.navigateToSObject('{!JSENCODE(parentObj.Id)}');
                    } else {
                        console.log("Hey redirect cancel 2");
                        window.location.href = '/{!JSENCODE(parentObj.Id)}';
                    }
                }
               
                function returnRedirectAfterResend(){
                    var hideClass = 'slds-hide';
                   
                    // hide resend overlay.
                    $('#resend-overlay').addClass(hideClass);
                       
                    // display the spinner then make callout.
                    $('#spinner-overlay').removeClass(hideClass);
                    callRemoteAction("apxt_resendTransaction", "resendVisualforce", ["{!JSENCODE(parentObj.Id)}"], function (response) {
                        $('#spinner-overlay').addClass(hideClass);
                        if (response && response.success){
                            displayNotification('success', (response.message) ? response.message : '{!$Label.apxt_resend_transaction_resent}',
                                null, null, null);
                            window.setTimeout(returnRedirect, 5000);
                        } else{
                            displayNotification('error', (response && response.message) ? response.message : '{!$Label.apxt_resend_transaction_not_resent}',
                                (response && response.reason) ? response.reason : null, null, response);
                        }
                    }, {escape:false});
                }

                function escapeHtml(txt){
                    return $('#js-escape-html').text(txt).html();
                }
            </script>

            <div id="js-escape-html" class="slds-hide" ></div>
            <script src="{!URLFOR($Resource.Pendo)}" />
            <script>
                pendo.initialize({
                    visitor: {
                        id:'{!$Organization.Id}-{!$User.Id}'
                    },
                    account: {
                        id:'{!$Organization.Id}',
                        name:'{!$Organization.Name}'
                    }
                });
            </script>
        </body>
    </html>
</apex:page>