<apex:page showHeader="false" sidebar="false" doctype="html-5.0"  standardStylesheets="false" title="Cloudwerx Certifications" applyHtmlTag="false" applyBodyTag="false">
     
    <apex:includeLightning />
    <script src="https://clouddev-cloudwerx.cs112.force.com/Certification/lightning/lightning.out.js"/>
    <!-- div tag act as locator while calling Lightning.createComponent -->
    <div id="lightning" />
 
    <script> 
        $Lightning.use("c:Cloudwerx_Certification_App", function() {
          $Lightning.createComponent("c:Cloudwerx_Certifications",
          {},
          "lightning",
          function(cmp) {
              console.log('Hello');
          }
          );
        }
        );
 
    </script>
    
    
</apex:page>