<!--
/**
 * Copyright (c) 2013, Andrew Fawcett
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without modification, 
 *   are permitted provided that the following conditions are met:
 *
 * - Redistributions of source code must retain the above copyright notice, 
 *      this list of conditions and the following disclaimer.
 * - Redistributions in binary form must reproduce the above copyright notice, 
 *      this list of conditions and the following disclaimer in the documentation 
 *      and/or other materials provided with the distribution.
 * - Neither the name of the Andrew Fawcett, nor the names of its contributors 
 *      may be used to endorse or promote products derived from this software without 
 *      specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND 
 *  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES 
 *  OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL 
 *  THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, 
 *  EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
 *  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY
 *  OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 *  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
**/
-->
<apex:page standardController="dlrs__LookupRollupSummary2__mdt" tabStyle="ManageLookupRollupSummaries__tab" extensions="dlrs.RollupCalculateController" lightningStylesheets="true">
	<apex:sectionHeader title="{!dlrs__LookupRollupSummary2__mdt.Label}" subtitle="Run Full Calculate Job"/>
	<apex:pageMessages />
	<apex:form >
		<p>Filter parent object <B>{!dlrs__LookupRollupSummary2__mdt.dlrs__ParentObject__c}</B> records to update using WHERE clause (OPTIONAL):</p>
		<apex:inputTextarea html-placeholder="Name LIKE 'Fred%' AND Custom__c > 0" cols="80" value="{!masterObjectWhere}" /><p/>
		<apex:commandButton action="{!runCalculateJob}" value="Run Full Calculate Job"/>
		<apex:commandButton value="Cancel" action="{!URLFOR($Page.managelookuprollupsummaries, null, ['id'=Id])}"/>
	</apex:form>
</apex:page>