<apex:page controller="ffclxh.CLXSettingsController" showHeader="true" sidebar="true">
	<apex:form >
		<apex:pageBlock title="CLX Settings">
			<apex:pageMessages />
			<apex:pageBlockButtons location="bottom">
				<apex:commandButton value="Create" action="{!create}"/>
			</apex:pageBlockButtons>
		</apex:pageBlock>
	</apex:form>
</apex:page>