<template>
    <!--HTML template which connect custom column component with custom datatable component-->
    <c-onboarding_-toggle-button-output 
        checked={value} 
        button-disabled={typeAttributes.buttonDisabled} 
        row-id={typeAttributes.rowId}>
    </c-onboarding_-toggle-button-output>
</template>